@import "primeicons/primeicons.css";
.custom-box {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  flex-direction: column;
}

label {
  margin-bottom: 3px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-control,
.output-control {
  margin-top: 5px;
}

p-inputNumber {
  width: 100%;
}

h4 {
  font-weight: bold;
}

.p-inputtext {
  font-size: 1.5em !important;

}

// Wrapper για δύο πεδία δίπλα-δίπλα
.input-row {
  display: flex;
  gap: 10px; // Απόσταση μεταξύ τους
  margin-bottom: 20px;
  
  .input-group {
    flex: 1; // Ίσο πλάτος και για τα δύο
    margin-bottom: 0; // Αφαίρεσε το κάτω margin
  }
}