<div
  class="columns is-fullheight"
  style="padding: 3em; font-size: 1.5em !important"
>
  <!-- First Column -->
  <div class="column is-one-quarter">
    <div class="box custom-box">
      <div class="input-group">
        <div class="label-value">
          <label for="timi_polisis">Τιμή Πώλησης</label>
          <div class="input-control">
            <p-inputNumber
              [(ngModel)]="timi_polisis"
              (ngModelChange)="recalculate()"
              [step]="0.01"
              inputId="timi_polisis"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              locale="en"
            ></p-inputNumber>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="timi_apodosis">Τιμή Απόδοσης</label>
          <div class="output-control">
            <h4>{{ timi_apodosis.toFixed(3) }}</h4>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="timi_agoras">Τιμή Αγοράς</label>
          <div class="input-control">
            <p-inputNumber
              [(ngModel)]="timi_agoras"
              (ngModelChange)="recalculate()"
              [step]="0.01"
              inputId="timi_agoras"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              locale="en"
            ></p-inputNumber>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="kerdos_polisis">Κέρδος Πώλησης</label>
          <div class="output-control">
            <h4>{{ kerdos_polisis | percent : "2.2-3" }}</h4>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="kerdos_apodosis">Κέρδος Απόδοσης</label>
          <div class="output-control">
            <h4>{{ kerdos_apodosis | percent : "2.2-3" }}</h4>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="promitheia">Προμήθεια</label>
          <div class="input-control">
            <p-inputNumber
              [(ngModel)]="promitheia"
              (ngModelChange)="recalculate()"
              [step]="0.01"
              suffix=" %"
              inputId="promitheia"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [showButtons]="true"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              locale="en"
            ></p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Column -->
  <div class="column is-one-quarter">
    <div class="box custom-box">
      <div class="input-group">
        <div class="label-value">
          <label for="optimizer">Optimizer</label>
          <div class="input-control">
            <p-inputNumber
              [(ngModel)]="optimizer"
              (ngModelChange)="recalculateOptimizer()"
              inputId="optimizer"
              mode="decimal"
              suffix=" %"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [step]="0.01"
              [showButtons]="true"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              locale="en"
            ></p-inputNumber>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="nea_timi_polisis">Νέα Τιμή Πώλησης</label>
          <div class="output-control">
            <h4>{{ nea_timi_polisis.toFixed(3) }}</h4>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="nea_timi_apodosis">Νέα Τιμή Απόδοσης</label>
          <div class="output-control">
            <h4>{{ nea_timi_apodosis.toFixed(3) }}</h4>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="neo_kerdos_polisis">Νέο Κέρδος Πώλησης</label>
          <div class="output-control">
            <h4>{{ neo_kerdos_polisis | percent : "2.2-3" }}</h4>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div class="label-value">
          <label for="neo_kerdos_apodosis">Νέο Κέρδος Απόδοσης</label>
          <div class="input-control">
            <p-inputNumber
              [(ngModel)]="neo_kerdos_apodosis"
              (ngModelChange)="recalculateKerdosApodosis()"
              [step]="0.01"
              suffix=" %"
              inputId="nea_kerdos_apodosis"
              mode="decimal"
              [minFractionDigits]="3"
              [maxFractionDigits]="3"
              locale="en"
            ></p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
